<h1>Titre de la page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis, sed. Accusantium consectetur dolore error laborum magni quae sint velit, voluptatem? Aspernatur illo libero nostrum nulla, praesentium reprehenderit sunt voluptatibus.</p>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba LE CHIEN</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/img/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
